@model ProjectOpen.Models.ViewModel.TeamSummary

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#">
                Updates
            </a>
        </h3>
    </div>

    <div id="#1" class="panel-collapse">
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Update Time</th>
                        <th class="hidden-xs">Description</th>
                        <th class="hidden-xs">Issues to Resolve</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>2014-08-21 10:03</td>
                            <td>Held Orders, PPO Awaiting Authorisation, Back Orders, EDI Rejections all running direct against phoenix. Links through to Sales Order Enquiry.</td>
                            <td>Slow Response for Back Orders and EDI rejections, no updates to EDI Rejections</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /.widget-content -->
</div> <!-- /.widget .box -->
